#blueprintContainer {
  font-size: 12.5px;
  line-height: 20px;
  /* font-family: "Roboto Mono", "SFMono-Regular", "Consolas", "Menlo", monospace; */
}
.blueprint {
  border-top: 1px solid #8883;
  border-left: 1px solid #8883;
  border-right: 1px solid #8883;
  margin: 0.3rem 0 0.6rem;
  background: #0001;
}
.property-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #8883;
}
.property-row .property-name {
  flex-grow: 0;
  width: 8rem;
  min-width: 6rem;
  padding: 0.3rem;
  opacity: 0.3;
}
.property-row .property-value {
  flex: 1;
  white-space: pre-line;
  padding: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 0.3rem;
}
.property-row .property-value.blueprints {
  display: block;
}
.property-row .property-value.entities {
  display: block;
}
.entity-count {
  height: 20px;
}
.entity-count .count {
  font-family: "Roboto Mono", "SFMono-Regular", "Consolas", "Menlo", monospace;
  padding-right: 0.3rem;
}
.entity-list-toggle {
  cursor: pointer;
}
img.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: 0 0;
  vertical-align: middle;
}
